# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases & local state
*.db
*.db-journal
*.sqlite
*.sqlite3

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
dist/

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
